<% include partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">Edit <%= blog.title %></div>
    <form action="/blogs/<%=blog._id%>?_method=PUT" method="POST" class="ui form">
        <div class="field">
            <lable>Title</lable>
            <input type="text" name="blog[title]" value="<%= blog.title %>">
        </div>
        <div class="field">
            <lable>Image</lable>
            <input type="text" name="blog[image]" value="<%= blog.image %>">
        </div>
        <div class="field">
            <lable>Body</lable>
            <textarea name="blog[body]"><%= blog.body %></textarea>
        </div>
        <button class="ui violet basic button big">Submit</button>
    </form>
</div>

<% include partials/footer %>